<%layout('layouts/boilerplate')%> 
<h1>Showing <%= user.username %></h1>

<ul>
    <li>Name: <%= user.firstName%> <%= user.lastName%></li>
    <li>Username: <%= user.username%></li>
</ul>

<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<a href="/users">Show All Users</a>
<a href="/users/<%=user._id%>/edit">Edit</a>